/*
CONFIG.CSS
Created by - Daniel Petrie 
Creation Date - 19/3/14

Revision History (Date & Initial)

19 / 03 / 2014 - DP


/*


/*search box */
#side .superSearchBox fieldset input.field {
border: 0 none !important;
border-bottom: 1px solid #aeaeae !important;
color:#333 !important;}


/*elephant appeal tweaks */
/*.topExternalLinks ul li:first-child a {color: #f8bb01 !important; font-weight:bold !important;}*/
.intro .clhdBrightYellow {background: #f8bb01;
position: absolute;top:0px;left: 0;padding: 3px 10px;margin-left: 0;color: #fff;font-weight: 800;z-index: 999;text-transform:uppercase;}



/* view our picture galleries right hand column 300px wide */
#picGal .ivPromo-title-logo {display:none !important;}
#picGal .ivPromo-title {background-color: black !important; width:300px !important;}
#picGal .ivPromo-title-text { width: 100% !important; padding: 5px 10px !important;}
#picGal .ivPromo-title-text p { 
font-family: Open Sans !important;
font-weight: normal !important;
color: red !important;
font-size: 15px !important;
margin: 0;
text-transform: uppercase !important;
}
#picGal .mini-carouselConrtainer .textArea .heading a {
font-family: Open Sans !important;
font-size: 15px !important;
font-color:red !important;
}
#picGal .mini-carouselConrtainer .fullWidth {width:300px !important;}


/* independent images homepage carousel 620px wide */
#picGal620 .container {width:620px !important; height:425px !important;}
#picGal620 .ivPromo-title-logo {display:none !important;}
#picGal620 .ivPromo-title {display:none !important;}
#picGal620 .ivPromo-title-text { width: 620px !important; padding: 5px 10px !important;}
#picGal620 .ivPromo-title-text p { 
font-family: Open Sans !important;
color: #b80000! important;
font-size: 15px !important;
margin: 0;
font-weight: normal !important;
text-transform: uppercase !important;
}
#picGal620 .mini-carouselConrtainer .textArea .heading a {
font-family: Open Sans !important;
font-size: 15px !important;
font-color:#b80000 !important;
}
#picGal620 .mini-carouselConrtainer .fullWidth {width:620px !important;}
#picGal620 .mini-carouselConrtainer .textAreaBg {width:620px !important;}

/*
#picGal620 .ivPromo.w380 .ivPromo-miniCarousel {
height:425px !important;}

#picGal620 .ivPromo .ivPromo-miniCarousel {
height:425px !important;} */

#picGal620 .ivPromo-miniCarousel {
height:425px !important;}

#picGal620 .mini-carouselConrtainer .fullWidth .textArea {width:600px !important;}

#picGal .ivPromo-title-text p a {
font-family: Open Sans !important;
font-weight: normal !important;
color: red !important;
font-size: 15px !important;
margin: 0;
text-transform: uppercase !important;
}

#picGal .ivPromo-title-text p a:hover {text-decoration: underline !important;}




/* People carousel 620px wide */
#peopleGal620 .container {width:620px !important; height:425px !important;}
#peopleGal620 .ivPromo-title-logo {display:none !important;}
#peopleGal620 .ivPromo-title {background-color: #b80000 !important; width:620px !important;}
#peopleGal620 .ivPromo-title-text { width: 620px !important; padding: 5px 10px !important;}
#peopleGal620 .ivPromo-title-text { font-family: Open Sans !important;
color: white !important;
font-size: 15px !important;
margin: 0;
font-weight: bold !important;
text-transform: uppercase !important;
}
#peopleGal620 .mini-carouselConrtainer .textArea .heading a {
font-family: Open Sans !important;
font-size: 15px !important;
font-color:#b80000 !important;
}
#peopleGal620 .mini-carouselConrtainer .fullWidth {width:620px !important;}
#peopleGal620 .mini-carouselConrtainer .textAreaBg {width:620px !important;}
#peopleGal620 .ivPromo-miniCarousel {
height:425px !important;}
#peopleGal620 .mini-carouselConrtainer .fullWidth .textArea {width:600px !important;}




/* Arts and Ents carousel  620px wide */
#artsGal620 .container {width:620px !important; height:425px !important;}
#artsGal620 .ivPromo-title-logo {display:none !important;}
#artsGal620 .ivPromo-title {background-color: #9e9e9e !important; width:620px !important;}
#artsGal620 .ivPromo-title-text { width: 620px !important; padding: 5px 10px !important;}
#artsGal620 .ivPromo-title-text { 
font-family: Open Sans !important;
color: white !important;
font-size: 15px !important;
margin: 0;
font-weight: bold !important;
text-transform: uppercase !important;
}
#artsGal620 .mini-carouselConrtainer .textArea .heading a {
font-family: Open Sans !important;
font-size: 15px !important;
font-color:#b80000 !important;
}
#artsGal620 .mini-carouselConrtainer .fullWidth {width:620px !important;}
#artsGal620 .mini-carouselConrtainer .fullWidth img {min-height:465px;}
#artsGal620 .mini-carouselConrtainer .textAreaBg {width:620px !important;}

/*
#artsGal620 .ivPromo.w380 .ivPromo-miniCarousel {
height:425px !important;}

#artsGal620 .ivPromo .ivPromo-miniCarousel {
height:425px !important;} */

#artsGal620 .ivPromo-miniCarousel {
height:425px !important;}

#artsGal620 .mini-carouselConrtainer .fullWidth .textArea {width:600px !important;}






/* story content widget styling for minus margin due to in article google widget */
#content #main #googleadInpage, #content #main .googleadInpage {margin-top:0px!important;margin-bottom:0px!important;padding-top:2px!important;}
#content #main #googleadInpage ul, #content #main .googleadInpage ul {margin-top:-10px;}
#content #main #googleadInpage ul li , #content #main .googleadInpage ul li {padding: 6px 0!important;border-bottom: 1px solid #d6d6d6!important;margin:0;}
#content #main #googleadInpage ul li:last-child, #content #main .googleadInpage ul li:last-child {border-bottom:none!important;}

#content #main #googleadInpage ul li a:nth-of-type(2), 
#content #main .googleadInpage ul li a:nth-of-type(2), 
#page .googlead ul li a:nth-of-type(2) {margin-top:0px!important;font-size: 10px!important;color:#005689!important;}


#page .googlead ul li {border-bottom: 1px solid #d6d6d6!important;}
#page .googlead ul li:last-child {border-bottom:none!important;}
#content #main .googlead > a {text-transform:none!important;}
#content #main #googleadInpage {border-top:none!important;border-bottom:none!important;}

.widget.ad.googlead {background:#F8F8F8;);padding: 8px!important;}


.widget.storyContent.article.articleContent {margin-top:-12px!important;}
.widget.storyContent.article.articleContent.voicesArticleLayout {margin-top:0px!important;}

/* Skyscraper background colour fix */

.ad div.skyscraper {background:#fff!important;}

/* outbrain thumbnail link colour */

.AR_4 .strip-rec-link-title.ob-tcolor {color: #005689!important;}

/* travel widget background colour change */

.tm_cta a, .tm_cta a:hover {color:#fff!important;}


#ashesLauncher {
margin: 0 10px 0px 10px !important;
width: 210px; margin-bottom: 10px !important;}





/* Voices hot topics align fix */

.voices .tagLabel {left: 197px!important;}
.voices .tagNames {left: 263px!important;width: 677px;}



/* reinstate strapline */
.strapLine {padding:0px!important;margin:0px!important;}
.strapLine h2.strapline {border:none;margin-bottom: 6px;padding: 4px 0 5px 0;display:block!important;border-bottom:1px solid #cdcdcd;}


/* min height for OB video middle col widget due to slow/non loading states */
.obVideo {min-height:50px!important;}


/*
	Debate Comment Widget specific CSS
*/
.voicesDualComment .title, .voicesDualComment .submit input{background: url("/skins/ind/voices/gfx/debate-comment-bg.png") no-repeat scroll left bottom black;color: white;float: left;font-family: league gothic;-webkit-font-smoothing: antialiased;font-size: 25px;height: 30px;letter-spacing: 1px;padding: 4px 16px 4px 50px;text-transform: uppercase;}
.voicesDualComment .postCommentWrapper{float:left;clear:both;width:100%;padding: 15px 0;background: #f5f5f5;}
.voicesDualComment .postCommentWrapper .for, .voicesDualComment .postCommentWrapper .against{float:left; height:145px; margin-left:4%; width:43%;}
.voicesDualComment .or{background: url("/skins/ind/voices/gfx/or-bg.png") no-repeat; width:44px; height:43px; float:left;margin:50px 0 0 6px;}
.voicesDualComment .postCommentWrapper .against{float:right; margin:0 4% 0 0;}
.voicesDualComment .postCommentWrapper .txtHolder {width: 370px;height: 115px;background: white;padding: 15px;}
.voicesDualComment .postCommentWrapper textarea{resize:none;border:none; background:#ffffff; width:100%; height:100%;font-size: 1.1em;font-family: georgia;font-style: italic;line-height: 1.5em;}
.voicesDualComment .error {float: left;margin: 10px 0 0 5px;color: red;font-size: 1.2em;}
.voicesDualComment .submit{float:right;margin-right:5%;}
.voicesDualComment .submit input{cursor: pointer;height:38px;padding:4px 55px 4px 10px;border:none; background: url("/skins/ind/voices/gfx/debate-comment2-bg.png") no-repeat scroll right bottom black;}
.voicesDualComment .separator{float:left;height:21px;background:url("/skins/ind/voices/gfx/debate-separator.png") no-repeat left bottom #e0e0e0; width:95%;}
.voicesDualComment #debateCommentStream_postCommentFor{overflow: auto;background: url("/skins/ind/voices/gfx/for-bg.jpg") no-repeat 50% 50% #ffffff;}
.debateTextareaActive{background-image:none !important;}
.voicesDualComment #debateCommentStream_postCommentAgainst{overflow: auto;background: url("/skins/ind/voices/gfx/against-bg.jpg") no-repeat 50% 50% #ffffff;}
.voicesDualComment .postComment{width:100%;float:left;margin-bottom:30px;}
.voicesDualComment .commentHeader, .voicesSingleComment .commentHeader{font-weight:normal;background: url("/skins/ind/voices/gfx/debate-heading-bg.png") no-repeat scroll right 0 black;color: white;font-family: league gothic;-webkit-font-smoothing: antialiased;font-size: 20px;float:left; padding: 0 70px 0 0; height:30px;letter-spacing: 1px;text-transform: uppercase;margin:0;}
.voicesDualComment .commentHeader span, .voicesSingleComment .commentHeader span {float: left;padding: 4px 0 2px 10px;}
.voicesDualComment .commentHeader .commentNumber, .voicesSingleComment .commentHeader .commentNumber {background: none repeat scroll 0 0 #FE521B;padding: 4px 10px 2px;}
.voicesDualComment .commentCount, .voicesSingleComment .commentCount {border-bottom: 1px solid #FE521B;float: left;width: 100%;margin-bottom: 15px;}
.voicesDualComment .comments, .voicesSingleComment .comments {float: left;width: 48%;}
.voicesDualComment .comments.for{border-right:3px solid #fe521b; padding:0 15px 40px 0;}
.voicesDualComment .comments.against {float: left; border-left:3px solid #fe521b; padding:0 0 40px 15px; margin-left:-3px;}
.voicesDualComment .senderNameAndTime, .voicesSingleComment .senderNameAndTime{float:left;font-weight:bold;}
.voicesDualComment .senderName, .voicesSingleComment .senderName{color:#fe521b;background:url("/skins/ind/voices/gfx/debate-sender-bg.png") no-repeat right 1px; padding: 0 10px 0 0;text-transform: uppercase;font: italic 1.2em league gothic;-webkit-font-smoothing:antialiased;}
.voicesDualComment .senderTime, .voicesSingleComment .senderTime{color:#444444;font-size:0.8em;}
.voicesDualComment .debate-commentData-header, .voicesSingleComment .single-commentData-header{border-bottom:1px solid #CCC;float:left;width:100%;}
.voicesDualComment .debate-commentData-header .flag, .voicesSingleComment .single-commentData-header .flag{float:right;margin-right:4px;}
.voicesDualComment .debate-commentData-header .flag a, .voicesSingleComment .single-commentData-header .flag a{background:url("/skins/ind/voices/gfx/flag-db-comment.png") no-repeat right bottom;display: block;width:15px;height:18px;}
.voicesDualComment .commentBody, .voicesSingleComment .commentBody{word-wrap: break-word;border-bottom:1px solid #CCC;float:left;width:100%;padding:7px 0;margin-bottom:15px;font-size: 1.1em;line-height: 1.3em;}
.voicesDualComment .commentImage, .voicesSingleComment .commentImage{float:left;}
.voicesDualComment img, .voicesSingleComment .img{border:none;}
.voicesDualComment .commentAside, .voicesSingleComment .commentAside{float:right;width:85%;}
.voicesDualComment .commentBlock, .voicesSingleComment .commentBlock{float:left;width:100%;border-bottom: 5px solid #cccccc;padding:15px 0;}
.voicesDualComment .vote-buttons, .voicesSingleComment .vote-buttons{float:right;background:#fe521b;border-bottom:1px solid #000000; color:#ffffff; padding:2px 0;}
.voicesDualComment .vote-buttons .vote-pos, .voicesDualComment .vote-buttons .vote-score, .voicesDualComment .vote-buttons .vote-neg, .voicesSingleComment .vote-buttons .vote-pos, .voicesSingleComment .vote-buttons .vote-score, .voicesSingleComment .vote-buttons .vote-neg{float:left;padding:0 7px;font-size:1.2em;}
.voicesDualComment .vote-buttons .vote-pos a, .voicesDualComment .vote-buttons .vote-neg a, .voicesSingleComment .vote-buttons .vote-pos a, .voicesSingleComment .vote-buttons .vote-neg a {color:#ffffff;}
.voicesDualComment .vote-buttons .vote-pos, .voicesDualComment .vote-buttons .vote-score, .voicesSingleComment .vote-buttons .vote-pos, .voicesSingleComment .vote-buttons .vote-score{border-right:1px solid #000000;}
.voicesDualComment .readMore{clear:both; text-align:center;}
.voicesDualComment .readMore a {background: #fe521b;padding: 1px 30px;color: #fff;display: inline-block;text-transform: uppercase;font-style: italic;font-family: league gothic;-webkit-font-smoothing: antialiased;font-size: 20px;letter-spacing: 1px;}
/*
	Single Comment Widget specific CSS
*/
.voicesSingleComment .commentImage{width:50px; margin-right:10px;position: absolute;left: 0;top: 15px;}
.voicesSingleComment.widget{width: 100%; position:relative; padding-top:6px; margin-top:20px; float:left;}
.voicesSingleComment.widget img{border:none;}
.voicesSingleComment .comments{width:100%;}
.voicesSingleComment .commentCount{margin-bottom:36px;}
.voicesSingleComment .commentsLogo {width: 70px;height: 70px;position: absolute;right: 0;top: 0;}
.voicesSingleComment .share, .voicesDualComment .share{float:right;}
.voicesSingleComment .custom-twitter-share-button, .voicesDualComment .custom-twitter-share-button{margin-right:5px; background: url("/skins/ind/voices/gfx/tweet-comments.png") no-repeat; width:18px; height:18px; float:left;}
.voicesSingleComment .facebook-share-button, .voicesDualComment .facebook-share-button{margin-right:5px; background: url("/skins/ind/voices/gfx/facebook-icon.png") no-repeat; width:18px; height:18px; float:left;}
.voicesSingleComment .reply{float:left;}
.voicesSingleComment .reply-form{clear:both;}
.voicesSingleComment .reply-form form{clear:both; position:relative;padding-top:10px;}
.voicesSingleComment .close-replyform{cursor: pointer;background: url("/skins/ind/voices/gfx/close_reply_icon.png") no-repeat;width:15px; height:15px; position:absolute;top:15px; right:10px;}
.voicesSingleComment .reply a {background: url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #FE521B;color: white;font-family: league gothic;-webkit-font-smoothing: antialiased;letter-spacing: 1px;padding: 4px 34px 3px 10px;font-size:14px;text-transform: uppercase;}
.voicesSingleComment .replies{margin-left: 50px; width:auto;}
.voicesSingleComment .replies .commentBlock{border-top:5px solid #cccccc; border-bottom:none; margin: 15px 0 -15px 0;}
.voicesSingleComment .commentAside{width:90%; float:left; padding: 0 0 0 60px;}
.voicesSingleComment .postCommentWrapper .for{padding:5px;width: auto;float: none;color: #4D4D4D;position: static;text-align: left;vertical-align: baseline;}
.voicesSingleComment .postCommentWrapper{border-radius: 3px;margin: 0 0 5px;zoom: 1;hasLayout: true;background-color: white;border: 1px solid silver;height: 88px;box-shadow: inset 0 0 4px gainsboro;-moz-box-shadow: inset 0 0 4px #DCDCDC;-webkit-box-shadow: inset 0 0 4px gainsboro;}
.voicesSingleComment .postCommentWrapper .for textarea{width:100%;overflow: auto;word-wrap: break-word;zoom: 1;hasLayout: true;height: 78px;padding: 0px;resize: none;border: none;}
.voicesSingleComment .submit input, .voicesSingleComment .login input{line-height: 20px;font-weight: bold;font-size: 12px;padding: 0 10px;float: right;border-radius: 3px;cursor: pointer;border: 1px solid #C5C7C7;box-shadow: 0 0 2px RGBA(0,0,0,0.15);
-webkit-box-shadow: 0 0 2px RGBA(0,0,0,0.15);-moz-box-shadow: 0 0 2px RGBA(0,0,0,0.15);background: white;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#EAEBEB");
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EAEBEB));background: -moz-linear-gradient(top, white, #EAEBEB);}
.voicesSingleComment .login input{float:left;}
.voicesSingleComment .submit input:hover, .voicesSingleComment .login input:hover{background: #EAEBEB;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#EAEBEB", endColorstr="#FFFFFF");background: -webkit-gradient(linear, left top, left bottom, from(#EAEBEB), to(white));background: -moz-linear-gradient(top, #EAEBEB, white);}
.voicesSingleComment .formContainer {clear: both;}
.voicesSingleComment .formContainer .avatar {margin: 0 10px 10px 0;float: left;width: 50px;height: 50px;}
.voicesSingleComment .formContainer .title{margin-bottom:10px; padding-top:2px;}
.voicesSingleComment .formContainer form {clear: both;margin-top: 10px;}
.voicesSingleComment .readMore{width: 100%;text-align: center;background: #FE521B;clear: both;margin-top: 30px;float: left;}
.voicesSingleComment .readMore a {width:100%;color: white;font-style: italic;text-transform: uppercase;font-family: league gothic;-webkit-font-smoothing: antialiased;font-size: 1.5em;float: left;letter-spacing: 1px;}
.voicesSingleComment .readMore a:hover{color:black;}
.voicesSingleComment #replyText {width: 100%;}
.voicesSingleComment .replies .commentAside {width: 89%;}
.voicesSingleComment .replies .replies .commentAside {width: 88%;}
.voicesSingleComment .replies .replies .replies .commentAside {width: 87%;}
.voicesSingleComment .replies .replies .reply {display: none;}
.voicesSingleComment .replies .replies .replies .replies .commentAside {width: 86%;}
.voicesSingleComment .commentBlock {position: relative;}
#commentReference{float:left;}
.voicesDualComment h1 {font-weight: bold;margin-bottom: 30px;font-size: 2.5em;}
.voices-read-more {color: #FE521B;font-family: league gothic;text-transform: uppercase;-webkit-font-smoothing: antialiased;font-style: italic;}
.voices-read-more:hover {color: #FE521B;border-bottom: 1px dotted #FE521B;}
.deleteComment {float: right;margin-right: 4px;margin-top: 2px;}
.deleteCommentIcon {background: url("/skins/ind/voices/gfx/close_reply_icon.png") no-repeat;width: 15px;height: 15px; display:block;}
div.relative.commentsCount {position:relative; margin-left:5px;}

/*IND-ES1023 (Formatting Comments)*/
.comment-formatting-btns {list-style: none; overflow: hidden; margin: 0 0 3px 0;}
.comment-formatting-btns .formatting-btn {background: url("/skins/ind/voices/gfx/comment-formatting.png") no-repeat left center #fff; border: 1px solid #ccc; float: left; height: 20px; text-indent: -99em; width: 22px; margin: 0 2px 0 0;}
.comment-formatting-btns .formatting-btn[data-btn="bold"] {background-position: -1px center;}
.comment-formatting-btns .formatting-btn[data-btn="italic"] {background-position: -25px center;}
.comment-formatting-btns .formatting-btn[data-btn="blockquote"] {background-position: -73px center;}
.comment-formatting-btns .formatting-btn[data-btn="anchor"] {background-position: -49px center;}
.comment-formatting-btn-link {width:295px !important;height:30px !important;}
.comment-formatting-btn-link input {width:220px;}
.ui-widget-content.formatting-btn-link-overlay {width: 325px !important;}
.ui-dialog.formatting-btn-link-overlay .ui-dialog-buttonpane {width: 325px !important;}
#singleCommentHeader ul.sorting-controls.hide {display: none;}
#singleCommentHeader ul.sorting-controls {height:30px;list-style:none;clear:both;border-bottom: 1px solid #F54E2E;}
#singleCommentHeader ul.sorting-controls li {float: left;padding-right: 5px;background: url("/skins/ind/images/tabs-border-v.png") no-repeat right top;}
#singleCommentHeader ul.sorting-controls li.oldest {background: url("/skins/ind/images/third-tab-border-v.png") no-repeat right top;padding-right:31px;height:30px;}
#singleCommentHeader ul.sorting-controls li a.active {color: #F54E2E;padding-bottom: 1px;border: 1px solid #f54e26;border-bottom: 0px none;background: #fff;}
#singleCommentHeader ul.sorting-controls li a {padding: 3px 15px 1px 15px;font-size: 21px;font-family: league gothic;-webkit-font-smoothing:antialiased;color: white;font-weight: normal;display: block;background: #f54e2e;text-transform: uppercase;}
#singleCommentHeader .comments .loading {position:relative;left:50%;top:20px;margin: 0 0 200px 0;}
.voicesSingleComment .readMore a {color:#fff!important;font-style:normal!important;}
/*IND-ES1023 (Formatting Comments)*/






/* Gigya comments - students #980051 */

.voicesSingleComment.student .commentCount {border-bottom: 1px solid #980051!important;}
.voicesSingleComment.student .commentsLogo {display:none;}
.voicesSingleComment.student .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/students/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.student #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.student .commentHeader .commentNumber {background: none repeat scroll 0 0 #980051;}
.voicesSingleComment.student #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #980051;}
.voicesSingleComment.student #singleCommentHeader ul.sorting-controls li a {background: #980051;}
.voicesSingleComment.student #singleCommentHeader ul.sorting-controls li a.active {color: #980051;border: 1px solid #980051;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.student .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #980051!important;color: white!important;}
.voicesSingleComment.student .vote-buttons {background: #980051;}
.voicesSingleComment.student .vote-buttons .vote-pos a, .voicesSingleComment.student .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.student .vote-buttons .vote-pos a:hover, .voicesSingleComment.student .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.student #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/students/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.student #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/students/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.student .readMore {background:#980051!important;}


/* Gigya comments - indyBest #0084b4 */

.voicesSingleComment.indyBest .commentCount {border-bottom: 1px solid #0084b4!important;}
.voicesSingleComment.indyBest .commentsLogo {display:none;}
.voicesSingleComment.indyBest .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/indybest/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.indyBest #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.indyBest .commentHeader .commentNumber {background: none repeat scroll 0 0 #0084b4;}
.voicesSingleComment.indyBest #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #0084b4;}
.voicesSingleComment.indyBest #singleCommentHeader ul.sorting-controls li a {background: #0084b4;}
.voicesSingleComment.indyBest #singleCommentHeader ul.sorting-controls li a.active {color: #0084b4;border: 1px solid #0084b4;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.indyBest .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #0084b4!important;color: white!important;}
.voicesSingleComment.indyBest .vote-buttons {background: #0084b4;}
.voicesSingleComment.indyBest .vote-buttons .vote-pos a, .voicesSingleComment.indyBest .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.indyBest .vote-buttons .vote-pos a:hover, .voicesSingleComment.indyBest .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.indyBest #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/indybest/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.student #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/indybest/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.indyBest .readMore {background:#0084b4!important;}


/* Gigya comments - Money #3b5998 */

.voicesSingleComment.money .commentCount {border-bottom: 1px solid #3b5998!important;}
.voicesSingleComment.money .commentsLogo {display:none;}
.voicesSingleComment.money .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/money/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.money #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.money .commentHeader .commentNumber {background: none repeat scroll 0 0 #3b5998;}
.voicesSingleComment.money #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #3b5998;}
.voicesSingleComment.money #singleCommentHeader ul.sorting-controls li a {background: #3b5998;}
.voicesSingleComment.money #singleCommentHeader ul.sorting-controls li a.active {color: #3b5998;border: 1px solid #3b5998;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.money .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #3b5998!important;color: white!important;}
.voicesSingleComment.money .vote-buttons {background: #3b5998;}
.voicesSingleComment.money .vote-buttons .vote-pos a, .voicesSingleComment.money .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.money .vote-buttons .vote-pos a:hover, .voicesSingleComment.money .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.money #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/money/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.money #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/money/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.money .readMore {background:#3b5998!important;}


/* Gigya comments - Travel #ff851b */

.voicesSingleComment.travel .commentCount {border-bottom: 1px solid #ff851b!important;}
.voicesSingleComment.travel .commentsLogo {display:none;}
.voicesSingleComment.travel .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/travel/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.travel #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.travel .commentHeader .commentNumber {background: none repeat scroll 0 0 #ff851b;}
.voicesSingleComment.travel #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #ff851b;}
.voicesSingleComment.travel #singleCommentHeader ul.sorting-controls li a {background: #ff851b;}
.voicesSingleComment.travel #singleCommentHeader ul.sorting-controls li a.active {color: #ff851b;border: 1px solid #ff851b;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.travel .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #ff851b!important;color: white!important;}
.voicesSingleComment.travel .vote-buttons {background: #ff851b;}
.voicesSingleComment.travel .vote-buttons .vote-pos a, .voicesSingleComment.travel .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.travel .vote-buttons .vote-pos a:hover, .voicesSingleComment.travel .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.travel #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/travel/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.travel #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/travel/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.travel .readMore {background:#ff851b!important;}


/* Gigya comments - Arts & Ents #636363 */

.voicesSingleComment.artsEnts .commentCount {border-bottom: 1px solid #636363!important;}
.voicesSingleComment.artsEnts .commentsLogo {display:none;}
.voicesSingleComment.artsEnts .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/artsents/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.artsEnts #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.artsEnts .commentHeader .commentNumber {background: none repeat scroll 0 0 #636363;}
.voicesSingleComment.artsEnts #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #636363;}
.voicesSingleComment.artsEnts #singleCommentHeader ul.sorting-controls li a {background: #636363;}
.voicesSingleComment.artsEnts #singleCommentHeader ul.sorting-controls li a.active {color: #636363;border: 1px solid #636363;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.artsEnts .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #636363!important;color: white!important;}
.voicesSingleComment.artsEnts .vote-buttons {background: #636363;}
.voicesSingleComment.artsEnts .vote-buttons .vote-pos a, .voicesSingleComment.artsEnts .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.artsEnts .vote-buttons .vote-pos a:hover, .voicesSingleComment.artsEnts .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.artsEnts #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/artsents/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.artsEnts #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/artsents/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.artsEnts .readMore {background:#636363!important;}


/* Gigya comments - Property #660046 */

.voicesSingleComment.property .commentCount {border-bottom: 1px solid #660046!important;}
.voicesSingleComment.property .commentsLogo {display:none;}
.voicesSingleComment.property .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/property/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.property #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.property .commentHeader .commentNumber {background: none repeat scroll 0 0 #660046;}
.voicesSingleComment.property #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #660046;}
.voicesSingleComment.property #singleCommentHeader ul.sorting-controls li a {background: #660046;}
.voicesSingleComment.property #singleCommentHeader ul.sorting-controls li a.active {color: #660046;border: 1px solid #660046;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.property .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #660046!important;color: white!important;}
.voicesSingleComment.property .vote-buttons {background: #660046;}
.voicesSingleComment.property .vote-buttons .vote-pos a, .voicesSingleComment.property .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.property .vote-buttons .vote-pos a:hover, .voicesSingleComment.property .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.property #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/property/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.property #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/property/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.property .readMore {background:#660046!important;}


/* Gigya comments - Life & Style #660046 */

.voicesSingleComment.lifeStyle .commentCount {border-bottom: 1px solid #660046!important;}
.voicesSingleComment.lifeStyle .commentsLogo {display:none;}
.voicesSingleComment.lifeStyle .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/lifestyle/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.lifeStyle #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.lifeStyle .commentHeader .commentNumber {background: none repeat scroll 0 0 #660046;}
.voicesSingleComment.lifeStyle #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #660046;}
.voicesSingleComment.lifeStyle #singleCommentHeader ul.sorting-controls li a {background: #660046;}
.voicesSingleComment.lifeStyle #singleCommentHeader ul.sorting-controls li a.active {color: #660046;border: 1px solid #660046;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.lifeStyle .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #660046!important;color: white!important;}
.voicesSingleComment.lifeStyle .vote-buttons {background: #660046;}
.voicesSingleComment.lifeStyle .vote-buttons .vote-pos a, .voicesSingleComment.lifeStyle .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.lifeStyle .vote-buttons .vote-pos a:hover, .voicesSingleComment.lifeStyle .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.lifeStyle #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/lifestyle/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.lifeStyle #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/lifestyle/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.lifeStyle .readMore {background:#660046!important;}


/* Gigya comments - Sport #1d7000 */

.voicesSingleComment.sport .commentCount {border-bottom: 1px solid #1d7000!important;}
.voicesSingleComment.sport .commentsLogo {display:none;}
.voicesSingleComment.sport .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/sport/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.sport #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.sport .commentHeader .commentNumber {background: none repeat scroll 0 0 #1d7000;}
.voicesSingleComment.sport #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #1d7000;}
.voicesSingleComment.sport #singleCommentHeader ul.sorting-controls li a {background: #1d7000;}
.voicesSingleComment.sport #singleCommentHeader ul.sorting-controls li a.active {color: #1d7000;border: 1px solid #1d7000;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.sport .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #1d7000!important;color: white!important;}
.voicesSingleComment.sport .vote-buttons {background: #1d7000;}
.voicesSingleComment.sport .vote-buttons .vote-pos a, .voicesSingleComment.sport .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.sport .vote-buttons .vote-pos a:hover, .voicesSingleComment.sport .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.sport #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/sport/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.sport #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/sport/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.sport .readMore {background:#1d7000!important;}


/* Gigya comments - News #b80000 */

.voicesSingleComment.news .commentCount {border-bottom: 1px solid #b80000!important;}
.voicesSingleComment.news .commentsLogo {display:none;}
.voicesSingleComment.news .commentHeader {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/news/debate-heading-bg.png") no-repeat scroll right 0 black; }
.voicesSingleComment.news #singleCommentHeader ul {padding-left:0px;}
.voicesSingleComment.news .commentHeader .commentNumber {background: none repeat scroll 0 0 #b80000;}
.voicesSingleComment.news #singleCommentHeader ul.sorting-controls {border-bottom: 1px solid #b80000;}
.voicesSingleComment.news #singleCommentHeader ul.sorting-controls li a {background: #b80000;}
.voicesSingleComment.news #singleCommentHeader ul.sorting-controls li a.active {color: #b80000;border: 1px solid #b80000;background:#fff!important;border-bottom:none!important;}
.voicesSingleComment.news .reply a {background:url("/skins/ind/voices/gfx/reply-bg.png") no-repeat right bottom #b80000!important;color: white!important;}
.voicesSingleComment.news .vote-buttons {background: #b80000;}
.voicesSingleComment.news .vote-buttons .vote-pos a, .voicesSingleComment.news .vote-buttons .vote-neg a {color:#fff!important;}
.voicesSingleComment.news .vote-buttons .vote-pos a:hover, .voicesSingleComment.news .vote-buttons .vote-neg a:hover {color:#fff!important;}
.voicesSingleComment.news #singleCommentHeader ul.sorting-controls li {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/news/tabs-border-v.png") no-repeat right top;}
.voicesSingleComment.news #singleCommentHeader ul.sorting-controls li.oldest {background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/news/third-tab-border-v.png") no-repeat right top;}

.voicesSingleComment.news .readMore {background:#b80000!important;}



/* width fix for comments/replies */

.voicesSingleComment.student .commentAside, 
.voicesSingleComment.indyBest .commentAside, 
.voicesSingleComment.money .commentAside, 
.voicesSingleComment.travel .commentAside, 
.voicesSingleComment.artsEnts .commentAside, 
.voicesSingleComment.property .commentAside, 
.voicesSingleComment.lifeStyle .commentAside, 
.voicesSingleComment.sport .commentAside, 
.voicesSingleComment.news .commentAside 
{width: 87%;}

.voicesSingleComment.student .replies .commentAside, 
.voicesSingleComment.indyBest .replies .commentAside,  
.voicesSingleComment.money .replies .commentAside,  
.voicesSingleComment.travel .replies .commentAside,  
.voicesSingleComment.artsEnts .replies .commentAside,  
.voicesSingleComment.property .replies .commentAside,  
.voicesSingleComment.lifeStyle .replies .commentAside,  
.voicesSingleComment.sport .replies .commentAside,  
.voicesSingleComment.news .replies .commentAside 
{width: 85%;}

.voicesSingleComment.student .replies .replies .commentAside, 
.voicesSingleComment.indyBest .replies .replies .commentAside, 
.voicesSingleComment.money .replies .replies .commentAside, 
.voicesSingleComment.travel .replies .replies .commentAside, 
.voicesSingleComment.artsEnts .replies .replies .commentAside, 
.voicesSingleComment.property .replies .replies .commentAside, 
.voicesSingleComment.lifeStyle .replies .replies .commentAside, 
.voicesSingleComment.sport .replies .replies .commentAside, 
.voicesSingleComment.news .replies .replies .commentAside 
{width: 83%;}

/* Gigya popup register/login windows */

.gigya-lightbox-header {
background: url("http://www.independent.co.uk/independent.co.uk/assets/images/gigya/login-background-image.png") no-repeat center 10px!important;
background-size: 500px!important;
padding-bottom: 15px!important;
}

#gigya-regbox .col-header .col-subtitle {
font-size: 0px!important;
/*background: url("http://www.independent.co.uk/independent.co.uk/assets/images/redesign/masthead/indy-new-masthead-800x64.png") no-repeat 0px 0px !important;
background-size: 180px!important;
display: inline-flex;
width: 180px;
height: 14px;
position: relative;
top: -12px;*/
}

#gigya-regbox .col-header .col-subtitle:after {
content: "The Independent";
font-size: 16px;
color: #000;
line-height: 16px;
font-family: Georgia,"Times New Roman",Serif;
}

/*gigya most commented widget - hide author name */
.bylineTextWithCommentCount a.author {display:none !important;}

/*.topExternalLinks ul li:first-child a {color:#b80000 !important;}*/





















/* Video Hub */
.video-hub {min-height: initial;;margin:15px 0;}
.video-hub.player-ctr {width:620px;float:left;margin:0 10px 0 0;padding:0 0 10px 0;}
.video-hub.player-ctr .published-date {display: block;font-size: 12px;font-weight: bold;margin: 10px 0;}
.video-hub.player-ctr .description {font-size:14px;}
.video-hub.related-videos {width:310px;float:left;}
.video-hub.video-lists-ctr {position: relative;margin:0px 0;padding-top: 19px;border-top: 1px solid #cdcdcd;}
.video-hub.related-videos-ctr {}
.video-hub h1 {margin:0;}
.video-hub h3 {color:#fff;margin:0;background:#b80000;padding:3px 10px;z-index: 88;position: relative;left: 10px;top: 8px;display: inline-block;font-family: 'Open Sans', arial;font-weight: 700;font-size: 12px;}
.video-hub.related-videos-ctr h3 {
	color: #b80000;
	font-family: 'Open Sans', arial;
	font-weight: 700;
	font-size: 12px;
	background: none;
	padding: 0px;
	margin: 0;
	top: 0;
	left: 0;
}
.video-hub.related-videos {list-style:none;margin:0;padding:0;}
.video-hub.related-videos .video {margin:0 0 7px 0;overflow:hidden;clear:left;}
.video-hub.related-videos .video .image {float:left;margin:0 7px 0 0;position:relative;}
.video-hub.related-videos .video .info {float:left;width:213px;}
.video-hub.related-videos .video .info h5 {margin:0;}
.video-hub.video-views {font-family:arial;font-size:11px;color:#999;}
.video-hub.published-date {display:block;margin:2px 0 0 0;font-size:11px;color:#999;font-family:arial;}
.video-hub.video-time {background-color: #000;position: absolute;right:0;bottom: 4px;font: 11px bold arial;padding: 0 3px;}

.video-hub.video-lists-ctr .video-list-inner {position:relative;}

.video-hub.video-lists-ctr h3.news {background:#C52D28;}
.video-hub.video-lists-ctr h3.sport {background:#4FB02F;}
.video-hub.video-lists-ctr h3.lifestyle {background:#622A69;}
.video-hub.video-lists-ctr h3.entertainment {background:#8E9999;}
.video-hub.video-lists-ctr h3.travel {background:#FA4C4B;}
.video-hub.video-lists-ctr h3.technology {background:#622A69;}

.video-hub.video-lists-ctr .more-vid-heading {
	position: absolute;
	right: 1px;
	top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 12px;
	z-index:99;
}

.video-hub.video-lists-ctr .more-vid-heading span a {text-transform:uppercase;font-weight: bold;}
.video-hub.video-lists-ctr .more-vid-heading span.news a {color:#C52D28!important;}
.video-hub.video-lists-ctr .more-vid-heading span.sport a {color:#4FB02F!important;}
.video-hub.video-lists-ctr .more-vid-heading span.lifestyle a {color:#622A69!important;}
.video-hub.video-lists-ctr .more-vid-heading span.entertainment a {color:#8E9999!important;}
.video-hub.video-lists-ctr .more-vid-heading span.travel a {color:#FA4C4B!important;}
.video-hub.video-lists-ctr .more-vid-heading span.technology a {color:#622A69!important;}

.video-hub .video-list {list-style:none;overflow:hidden;margin:0 0 10px 0;padding:0 0 20px 0;z-index: 9;background-color: #3e3e3e;}
.video-hub .video-list .video {float:left;width:155px;padding-bottom:10px;height:225px;margin-right:0px;}
.video-hub .video-list .published-date {display:inline-block;font-size: 11px;}
.video-hub .video-list .video .image {position: relative;display: block;background-color: #494949;padding: 20px 0 0 0;text-align:center;border-bottom: 1px solid #555;}
.video-hub .video-list .video .image .video-time {position: relative;top: -94px;right: -43px;color: #fff;font-family: arial;z-index:10;background:#444;padding:1px 3px;}
.video-hub .video-list .video .info {background-color: #3d3d3d;width: 130px;padding: 10px 9px 0 16px;font-size: 12px;}
.video-hub .video-list .video .info h5 {padding:0 0 5px 0;overflow: hidden;max-height: 73px;margin:0;}
.video-hub .video-list .video .info h5 a {color: #fff !important;}


.related-videos-ctr .related-videos {margin-left:0px;padding-left:0px;}

.related-videos-ctr .related-videos .video {
	display: block;
	min-height: 92px;
	width: 300px;
	padding: 10px 0;
	border-bottom:1px solid #cdcdcd;
	margin:0;
}
.related-videos-ctr .related-videos .video .image img {float:right;}
.related-videos-ctr .related-videos .video .video-time {position: absolute;right: 0px;background: #444;padding: 1px 3px;color:#fff;font-family:arial;}
.related-videos-ctr .related-videos .info {width:155px!important;}
.related-videos-ctr .related-videos .info h5 {margin:0px;}
.related-videos-ctr .related-videos .info h5 a {display: block;padding: 0px 0px;font-size:15px;width: 155px;}
.video-list .video .info .published-date {color:#fff;font-size:10px;}


/*h3*/.browse-videos-ctr-h3 {
	color: #b80000;
	font-family: 'Open Sans', arial;
	font-weight: 700;
	font-size: 12px;
	background: none;
	padding: 0px;
	margin: 0;
	top: 0;
	left: 0;
}

/*ul*/.browse-videos-ctr {
	margin: 10px 0 0 0;
	padding:0;
}
.browse-videos-ctr li {
	display:block;
	float:left;
	margin:0;
	padding:2px 0;
	list-style:none;
	font-size:12px;
}
.browse-videos-ctr li a {
	display:block;
	width:130px;
}
.browse-videos-ctr li a:hover {
	text-decoration:underline!important;
}




#topicTitleUpper h1 {text-transform:uppercase !important;}

/* black span tag for environment section */
.intro .clhdBlack {
position: absolute;top:0px;left: 0;padding: 3px 10px;margin-left: 0;color: #fff;font-weight: 800;z-index: 999;text-transform:uppercase;}

.intro .clhdBlack {background: #000000;} 

/* hide environment span class header in col 1 */
.column-1 .intro .clhdBlack {display:none;}


/* ESI Gallery in page redesign updates 2.1.14 */

/* commented for approval - after tested on live through here move to file */
.esi-gallery {clear:left;}
.esi-gallery-slides-title {
font-size: 22px;
font-weight: bold;
padding: 5px 0 27px 64px;
margin: 0 70px 0 0;
line-height: 22px;
background: url(/independent.co.uk/assets/images/redesign/masthead/indy-masthead-gallery-50x50.png) no-repeat 5px 5px !important;
font: 18px 'Open Sans', sans-serif bold !important;
color: #b80000;
}

.esi-gallery-slide-counter {
position: absolute;
top: 10px;
right: 10px;
font-family: 'Open Sans', sans-serif bold !important;
font-size: 13px;
}

.esi-gallery-slide-title {
font-weight: bold;
font-size: 16px;
padding: 10px 0 0 0;
font-family: 'Open Sans', sans-serif bold !important;
}

.esi-gallery-slide-caption {
padding: 10px 0;
overflow-y: auto;
overflow-x: hidden;
max-height: 190px;
font-family: 'Open Sans', sans-serif bold !important;
}

.esi-gallery-slide-credit {
display: block;
padding: 10px 0;
font-family: 'Open Sans', sans-serif bold !important;
}



#esi-gallery-share-btns_gig_containerParent.esi-gallery-slide-info-inner.esi-gallery-slide-caption a {color: #fff !important;}







/* Fix for 940/cascading Bellyband */

/*.bellyBand  {width:940px!important;}*/




/* hide the thumbnails on galleria gallery for pagesuite */

div.slideshow .galleria-thumbnails-container {
display:none !important;}


/* Gallery Caption Height update */

.esi-gallery-slide-caption {max-height:220px!important;}

/* Gallery Font Size */
.esi-gallery {font: normal 12px Helvetica,Arial!important;line-height: 15px!important;}


/*link styles and font size changs for article body and intro */

/* change body text to 15px */
.article #main .storyContent .body p, .article #main .storyContent .storyTop p {font-size:15px !important;}

/* prepend read more links with bullets */
.article #main .storyContent .body h5 a:before {
content: ' • ';
}

/* read more text, prevent underline */
#main .storyContent .body h5 {
font-family: 'Open Sans' sans-serif;
font-size: 12px !important;
line-height: normal !important;
text-transform: uppercase;
color: #333333 !important;
font-weight: bold !important;
border-bottom: 0px !important;
text-decoration:none !important;
}

/* but underline the headline */
.article #main .storyContent .body h5 a{
text-decoration: underline !important;
}   


/* make visited links red */
.article #main .storyContent .body h5 a:visited, 
.article #main .storyContent .body h4 a:visited, 
.article #main .storyContent .body h3 a:visited,
.article #main .storyContent .storyTop h5 a:visited, 
.article #main .storyContent .storyTop h4 a:visited, 
.article #main .storyContent .storyTop h3 a:visited,

 {
color: #333333 !important;	
}  


/* mouse over link  */
.article #main .storyContent .body h5 a:hover, .article #main .storyContent .storyTop h5 a:hover
 {color:#b80000 !important;}   

/* selected link */
.article #main .storyContent .body h5 a:active, article #main .storyContent .storyTop h5 a:active {
color:#b80000 !important;}
 

.article #main .storyContent .body a {text-decoration:underline; border-bottom:0px !important; } /*color:#333333 !important;*/
.article #main .storyContent .storyTop p a {text-decoration:underline; border-bottom:0px !important; color:#333333 !important;}
.article #main .storyContent .storyTop p a:hover {color:#b80000 !important;} 
.article #main .storyContent .body a:hover {color:#b80000 !important;} 







/* ------------ End 19/03/2014 update -------------- */